<div id="navbar" class="navbar">
    <h1 class="logo">
        <i class="fas fa-question"></i>
        <a routerLink="/">FQ</a>
    </h1>
    <div class="search-box-wrapper">
        <input type="text" placeholder="search for a question..." class="search-box-input">
        <button class="search-box-button"><i class="fas fa-search"></i></button>
    </div>
    <!-- <input type="text" class="searchbar" placeholder="Search for a Question"> -->
    <ul class="links">
        <li>
            <a routerLink="/about">About</a>
        </li>
        <li>
            <a routerLink="/ask">Ask</a>
        </li>
        <li>
            <a routerLink="/search-results">Answer</a>
        </li>
        <li>
            <a routerLink="/profile">profile</a>
        </li>
    </ul>
</div>