<div id="qb-main">
    <div>
        <div class="title-time">
            <div class="title-hashtags">
                <h2>What is the Coronavirus?</h2>
                <p>
                    <a href="#">#coronavirus</a> &nbsp;&nbsp;
                    <a href="#">#stayathom</a> &nbsp;&nbsp;
                    <a href="#">#covid-19</a>
                </p>
            </div>
            <div>
                <h6>posted by <a href="">muhammad abdullah</a> on 09 may</h6>
            </div>
        </div>

        <div>
            <p>Hello, I just wanted to get real and factual information about the coronavirus, there are many fake news out there so will really appreciate if someone explain really the correct information about covid-19
            </p>
        </div>
        <!-- <div>
            <form action="">
                <label for="answer">Write Answer Here</label>
                <textarea name="" id="answer" cols="30" rows="10"></textarea>
                <button>Post Answer</button>
            </form>
        </div> -->
        <div #answerAr class="answer-area">
            <app-answer-component></app-answer-component>
            <!-- <app-answer-component></app-answer-component>
            <app-answer-component></app-answer-component> -->
        </div>
        <div>
            <button class="btn"><i class="fas fa-pen"> </i>answer</button>
            <button class="btn"><i class="fas fa-bullhorn"></i>this question needs more attention 26</button>
            <button class="btn" (click)="showAnswer()"><i class="fab fa-readme"></i>view answers</button>
        </div>
    </div>
</div>