<div id="answer-card">
    <div>
        <div class="name-title-time">
            <div class="name-title">
                <a href="#">
                    <h2>Muhammad Abdullah,</h2>
                </a>
                <h4>&nbsp;Astronaut at NASA</h4>
            </div>
            <div>
                <h6>Answered on 09 may</h6>
            </div>
        </div>
        <div class="ans-and-desc">
            <p class="ans-desc">Hello Muhammad,The corona virus is a sars-cov-2 virus that was discovered in wuhan china, it came from a animal like bat to a human being in a meat market in wuhan china and from there the virus was spread.</p>
        </div>
    </div>
    <div class="references">
        <h1>References</h1>
        <div class="reference-detail">
            <h3>1. www.who.com</h3>
            <h3>2. www.wikipedia.com</h3>
        </div>
    </div>
    <div class="vote-buttons">
        <button>vote up 26</button>
        <button>vote down 4</button>
    </div>
</div>