<app-navbar-component></app-navbar-component>
<div id="profile-main-area">
    <div class="title-desc">
        <div class="title-area">
            <img src="https://source.unsplash.com/200x200/?person,portrait" alt="">
            <div class="titles">
                <h3>Muhammad Abdullah</h3>
                <h3>Credibility Score upvoted 20 times</h3>
                <h3>Astronaut at NASA</h3>
            </div>
        </div>
        <div class="description">
            <p>Hello I am Muhammad Abdullah, an astronaut at Nasa for 5 years, I like to answer questions relate to engineering and general knowledge I join this website because I want to use my knowledge, experience in research ability to give factual information
                to people who are looking for correct Answer on popular issues
            </p>
        </div>
    </div>
    <div id="asked-answered">
        <div class="questions-asked">
            <h1>Questions Asked</h1>
            <app-question-bar-component></app-question-bar-component>
        </div>
        <div class="questions-answered">
            <h1>Questions Answered</h1>
            <app-question-bar-component></app-question-bar-component>
        </div>
    </div>
</div>
<app-footer-component></app-footer-component>