<div id="navigation">
    <app-navbar-component></app-navbar-component>
</div>
<div id="mainarea">
    <app-trending-hashtags-component></app-trending-hashtags-component>
    <div id="qa-wrapper">
        <app-question-bar-component></app-question-bar-component>
        <app-question-bar-component></app-question-bar-component>
        <app-question-bar-component></app-question-bar-component>
    </div>
    <!-- <app-related-questions-bar-component></app-related-questions-bar-component> -->
</div>
<div id="footer">
    <app-footer-component></app-footer-component>
</div>